/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* Light gray background color */
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles for the back home button */
.button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #4CAF50; /* Green background color */
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.form-container {
  background-color: #fff; /* White background color for form */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.form-input::placeholder {
  color: #ccc; /* Light gray placeholder text */
}

.form-input:focus {
  outline: none;
  border-color: #1628c9; /* Green border color on focus */
  box-shadow: 0 2px 6px rgba(76, 175, 80, 0.3); /* Enhanced box shadow on focus */
}

.error {
  color: red;
}

/* Purpose select element */
#purpose {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

/* Other purpose container */
#other-purpose-container {
  display: none;
}

/* Other purpose label */
label[for="other_purpose"] {
  font-weight: bold;
}

/* Other purpose input */
#other_purpose {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.camera {
  margin-top: 20px;
}


/* Captured images */
#frontImage1,
#frontImage2 {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}



/* Submit button */
.submit-btn {
  display: block;
  margin: 20px auto;
  padding: 12px 20px;
  background-color: #4CAF50; /* Green background color for submit button */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  .form-container {
    padding: 10px;
  }

  .form-input,
  #purpose,
  #other_purpose {
    padding: 8px;
    font-size: 12px;
  }

  .camera button {
    padding: 6px 10px;
    font-size: 12px;
  }

  #frontImage1,
  #frontImage2 {
    max-width: 80%;
  }

  .submit-btn {
    padding: 10px 16px;
    font-size: 14px;
  }
}
